<div class="container h-100 d-flex align-items-center justify-content-center">
  <div class="row w-100 text-center justify-content-center">
    <i class="material-icons text-danger denied-icon">warning</i>
    <h1 class="text-bg-dark fw-bold my-4">Access denied</h1>
    <p class="fs-6">You do not have permission to view this page.</p>
    <p class="fs-6">Please check your credentials and try again.</p>
    <a href="/app/categories"
      class="btn-danger w-auto text-center rounded py-2 px-3 text-decoration-none text-black mt-3"> Volver </a>
  </div>
</div>